In [7]:
#1 Fibonacci series up to 10 terms
print("Fibonacci series (10 terms):")
a, b = 0, 1
for i in range(10):
    print(a, end=" ")
    a, b = b, a + b

print("\n")

Fibonacci series (10 terms):
0 1 1 2 3 5 8 13 21 34

In [8]:
#2 Factorial of a given number
num = int(input("Enter a number to find factorial: "))
fact = 1
for i in range(1, num + 1):
    fact *= i
print("Factorial =", fact)
print("\n")

Enter a number to find factorial: 10
Factorial = 3628800

In [9]:
#3 Right angle triangle
print("Right angle triangle:")
for i in range(1, 6):
    print("*" * i)

Right angle triangle:
*
**
***
****
*****

In [10]:
#4 Exercise on Functions

print("\nSimple Calculator")

def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))

print("Addition:", add(x, y))
print("Subtraction:", subtract(x, y))
print("Multiplication:", multiply(x, y))
print("Division:", divide(x, y))

Simple Calculator
Enter first number: 50
Enter second number: 40
Addition: 90.0
Subtraction: 10.0
Multiplication: 2000.0
Division: 1.25

In [11]:
#5Ô∏è Remove first duplicate element
print("\nRemove first duplicate from list:")
my_list = [1, 2, 3, 2, 4, 5]
seen = set()

for i in range(len(my_list)):
    if my_list[i] in seen:
        my_list.pop(i)
        break
    seen.add(my_list[i])

print("Updated list:", my_list)

Remove first duplicate from list:
Updated list: [1, 2, 3, 4, 5]

In [12]:
#6 Extract keys from dictionary
print("\nExtract keys from dictionary:")
sample_dict = {
    "name": "Anderson",
    "age": 35,
    "salary": 5000,
    "city": "London"
}

keys = ["name", "salary"]
new_dict = {k: sample_dict[k] for k in keys}

print("New dictionary:", new_dict)

Extract keys from dictionary:
New dictionary: {'name': 'Anderson', 'salary': 5000}

In [13]:
#7  Convert two lists into dictionary
print("\nConvert two lists into dictionary:")
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

result = dict(zip(list_one, list_two))
print("Result:", result)

Convert two lists into dictionary:
Result: {'one': 1, 'two': 2, 'three': 3}